.clip {
  width: 250px;
  height: 300px;
  margin: 50px;
  border-radius: 10px;
  margin-bottom: 70px;
  display: block;

  align-items: center;
}
.img {
  top: 0;
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
p {
  width: 250px;
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .clip {
    width: 150px;
    height: 260px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .img {
    top: 0;
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
  }
  p {
    width: 170px;
    font-size: 0.87rem;
    font-weight: 500;
    text-align: center;
  }
}
