.root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.root-child-1 {
  margin: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  margin: 0%;
}
.title {
  position: relative;
  top: -40px;
  font-size: 40px;
}

input {
  font-size: 20px;
  width: 600px;
  height: 40px;
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  align-content: center;
  color: black;
  outline: none;
}
.add-btn {
  width: 90px;
  height: 40px;
  border-radius: 30px;
  background-color: black;
  color: blanchedalmond;
  margin: 20px;
  outline: none;
}
.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nodata-img {
  width: 700px;
  height: 400px;
  display: none;
}
.loading {
  display: none;
}

.Modal2 {
  background-image: url("https://picsum.photos/800/700/?blur=2");
  z-index: -10;
  clip-path: polygon(0 38%, 100% 0, 100% 100%, 84% 25%);
  width: 795px;
  height: 700px;

  overflow: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.Modal2 > div > img {
  margin-top: 4%;
  margin-left: 38%;
  border-radius: 10px;
}
.Modal2 > img {
  width: 150px;
  height: 150px;
  margin-top: 30%;
  margin-left: 40%;
}
.Modal2 > h3 {
  margin-right: 10px;
  margin-left: 20px;
}
.Modal2::-webkit-scrollbar {
  width: 7px;
}
.Modal2::-webkit-scrollbar-track {
  background-color: #bab9b9;
  border-radius: 5px;
}
.Modal2::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
  border-radius: 5px;
}
