.root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.root-child-1 {
  margin: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  position: relative;
  top: -40px;
  font-size: 40px;
}
input {
  width: 600px;
  height: 40px;
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  align-content: center;
  color: black;
  outline: none;
}
.add-btn {
  width: 90px;
  height: 40px;
  border-radius: 30px;
  background-color: black;
  color: blanchedalmond;
  margin: 20px;
  outline: none;
}
.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nodata-img {
  width: 700px;
  height: 400px;
  display: none;
}
.loading {
  display: none;
}
