.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}
a {
  color: blanchedalmond;
}
a:hover {
  text-decoration: none;
  color: rgb(63, 94, 153);
}
