.cont {
  background-color: black;
  display: flex;

  justify-content: space-around;
  align-items: center;
  height: 40px;
}
.p {
  font-size: 1.1rem;
  margin: 3.5px;
}
a {
  color: blanchedalmond;
}
a:hover {
  text-decoration: none;
  color: rgb(63, 94, 153);
}
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .footer {
    height: 40px;
  }
  .p {
    font-size: 0.9rem;
  }
}
